<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad request</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h2 class="title is-2">Bad request</h2>
    <p>400 Bad Request response status code indicates that the server cannot or will not process the request
        due to something that is perceived to be a client error. Go to this <a href="https://developer.mozilla.org/en-US/docs
        /Web/HTTP/Status/400">link </a>for more information.</p>
{% endblock %}
</body>
</html>