<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h2 class="title is-2">Forbidden</h2>
    <p>The HTTP 403 Forbidden response status code indicates that the server understands the request but refuses to
        authorize it. Go to this <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403">link</a> for
        more information.</p>
{% endblock %}
</body>
</html>