<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h2 class="title is-2">Internal server error</h2>
    <p>500 Internal Server Error server error response code indicates that the server encountered an unexpected
        condition that prevented it from fulfilling the request. Go to this <a href="https://developer.mozilla.org/en-US
        /docs/Web/HTTP/Status/500">link</a> for more information.</p>
{% endblock %}
</body>
</html>